.CurrentTemperature{
    font-size: 96px;
    font-weight: bold; 
    font-family: serif; 
    margin: 0; 
}

.WeatherCard{
    border: 1px solid black; 
    border-radius: 8px;
}

.WeatherImageWrapper{
    display: flex; 
    justify-content: center;
    font-size: 36px; 

}

.Navigation{
    display: flex; 
    padding: 20px 0; 
}

.Navigation a{
  margin: 20px; 
  font-size:24px;
}

.Navigation a.Active{
    color: purple; 
}